@import 'tailwindcss';

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-roboto-sans);
}

/* Cushty Colour Theme */
@theme {
  --gray-bg: #f7f7f7;
  --gray-bg-dark: #eeeeee;
  --color-accent-yellow: #e58411;
  --color-text: #1e1e1e;
  --color-text-faded: #8d8d8d;
  --color-text-blue: #0d1b39;
}

@layer utilities {
  .container {
    @apply max-w-screen-2xl mx-auto lg:px-20 md:px-10 px-8;
  }

  .nav-link {
    @apply text-lg text-white capitalize;
  }

  .hero-title {
    @apply text-white capitalize text-[90px] font-bold;
  }
}
